.chromestyle {
	FONT-WEIGHT: bold; WIDTH: 99%
}

.chromestyle UL {
	BORDER-RIGHT: #B20000 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #B20000 1px solid; PADDING-LEFT: 0px; BACKGROUND: url(https://portal.bsum.edu.ng/css/chromebg.gif) repeat-x center center; PADDING-BOTTOM: 4px; MARGIN: 0px; BORDER-LEFT: #B20000 1px solid; WIDTH: 100%; PADDING-TOP: 4px; BORDER-BOTTOM: #B20000 1px solid; TEXT-ALIGN: center
}
.chromestyle UL LI {
	DISPLAY: inline
}
.chromestyle UL LI A {
	BORDER-RIGHT: #dadada 1px solid; PADDING-RIGHT: 7px; PADDING-LEFT: 7px; PADDING-BOTTOM: 4px; MARGIN: 0px; COLOR: #494949; PADDING-TOP: 4px; TEXT-DECORATION: none
}
.chromestyle UL LI A:hover {
	BACKGROUND: url(https://portal.bsum.edu.ng/css/chromebg-over.gif) repeat-x center center
}
UNKNOWN {
	content: " v"
}
.dropmenudiv {
	BORDER-RIGHT: #B45959 1px solid; BORDER-TOP: #B45959 1px solid; Z-INDEX: 100; FILTER: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); VISIBILITY: hidden; FONT: 12px/18px Verdana; BORDER-LEFT: #B45959 1px solid; WIDTH: 200px; BORDER-BOTTOM: #B45959 0px solid; POSITION: absolute; TOP: 0px; BACKGROUND-COLOR: #B45959;
        
}
.dropmenudiv A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; WIDTH: auto; COLOR: black; TEXT-INDENT: 3px; PADDING-TOP: 2px; BORDER-BOTTOM: #B45959 1px solid; TEXT-DECORATION: none
}
 HTML .dropmenudiv A {
	WIDTH: 100%
}
.dropmenudiv A:hover {
	BACKGROUND-COLOR: #B45959
}
